<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="header-container">
    <div class="left-header">
      <div class="logo">
      </div>
      <div class="mygif">
      </div>
      <ul class="categories">
        <a routerLink="/"><li>Hot</li></a>
        <a href="#"><li>Trending</li></a>
        <a href="#"><li>Fresh</li></a>
        <a href="#"><li>More <i class="fa fa-caret-down"></i></li></a>
      </ul>
      <ul class="types">
        <a href="#"><li>TV</li></a>
        <a href="#"><li>NSFW</li></a>
        <a href="#"><li>GIF</li></a>
        <a href="#"><li>Get Our App!</li></a>
        <a href="#">
          <li>NSFW Clothing - Sale
            <h2>NEW</h2>
          </li>
        </a>
        <a href="#">
          <li>Video <i class="fa fa-tv"></i>
            <h2>NEW</h2>
          </li>
        </a>
      </ul>
    </div>
    <div class="right-header">
      <li><i class="fa fa-search"></i></li>
      <a routerLink="/login" routerActive="active"><li>Login</li></a>
      <a routerLink="/signup" routerActive="active"><li class="SignUpBtn">Sign up</li></a>
    </div>
  </div>
</header>
<section class="content-container">
  <router-outlet>
  </router-outlet>
</section>
