/*global*/
li{
  list-style: none;
}
html
{
  font-family:sans-serif;
}
.bold
{
  font-weight: 600;
}
body
{
  padding-top: 50px;
}
/*header*/
.header-container
{
  max-width: 1920px;
  background: #000;
  display: flex;
  color: #AAA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.left-header
{
  flex:3;
  display: flex;
  padding:0 10px;
}
.logo
{
  height: 30px;
  width: 42px;
  background-image: url('../DesignPics/header-logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto 0;
}
.mygif
{
  width: 120px;
  height: 30px;
  background-image: url('../DesignPics/animatedGIF.gif');
  background-size: cover;
  background-position: center;
  overflow:hidden;
  margin: auto 0 auto 20px;
}
.categories
{
  display: flex;
  border-right: 1px solid #2F2F33;
}
.categories li
{
  padding:7px 13px;
}
.categories a
{
  margin:auto;
  text-decoration: none;
  color: #AAA;
  font-size: 14px;
  font-weight: 700;
}
.categories a:hover,.types a:hover
{
  color: #fff;
}
.types
{
  display: flex;
}
.types a
{
  margin:auto;
  text-decoration: none;
  color: #AAA;
  font-size: 14px;
}
.types li
{
  padding:7px 12px;
  position: relative;
}
.types li h2
{
  position: absolute;
  background:#00A256;
  color: #fff;
  font-size: 7px;
  top:-5px;
  right: -5px;
  padding:2px;
  border-radius:3px;
}
.right-header
{
  flex:1;
  display: flex;
  justify-content: flex-end;
  padding:10px;
}
.right-header li
{
  padding:7px 14px;
  border-radius: 3px;
  margin:0 5px;
  font-size: 14px;
  color: #AAAAAA;
}
.right-header a
{
  text-decoration: none;
}
.SignUpBtn
{
  font-weight: bold;
  background:#03a9f4;
  color: #f3f3f3!important;
}
/*home*/
.homepage-container
{
  height: 100vh;
}

.home-tags ul
{
  justify-content:space-between;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x:scroll;
  padding:15px;
  text-align: center;
}
.home-tags ul li
{
  background: #000;
  padding:10px 15px;
  border-radius:40px;
  min-width: 90px;
  font-weight: 600;
  font-size: 15px;
}
.home-tags ul a
{
  text-decoration: none;
  color: #f3f3f3;
  margin-left: 10px;
}
