<div class="signup-container">
  <h1 class="big-signup-text">Hey there!</h1>
  <p class="small-signup-parag">9GAG is your best source for fun. Share anything you find interesting, get real responses from people all over the world, and discover what makes you laugh.</p>
  <div class="social-btns">
    <div class="facebook-btn socialbtn"><i class="fa fa-facebook"></i> <h1>Facebook</h1></div>
    <div class="google-btn socialbtn"><i class="fa fa-google-plus"></i> <h1>Google</h1></div>
  </div>
  <div class="signup-email-login">
    <p>Sign up with your <a routerLink="/membership"> Email Address</a></p>
    <p>Have an account?<a routerLink="/login"> Login</a></p>
  </div>
</div>
