<div class="login-container">
  <h1 class="big-login-text">Login</h1>
  <p class="small-login-text">Connect with a social network</p>
  <div class="social-btns">
    <div class="facebook-btn socialbtn"><i class="fa fa-facebook"></i> <h1>Facebook</h1></div>
    <div class="google-btn socialbtn"><i class="fa fa-google-plus"></i> <h1>Google</h1></div>
  </div>
  <p class="small-login-text">Log in with your email address</p>
  <div class="login-form">
    <label>Email</label>
    <input type="text" autofocus="true" name="" value="">
    <label>Password</label>
    <input type="text" name="" value="">
    <div class="submit-login-btn">
      <button type="button" name="button">Log in</button><a href="#" class="forgot-pass"> Forgot Password</a>
    </div>
  </div>
</div>
